
@{
    ViewBag.Title = "Hola caracola";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .grad {
        background-image: linear-gradient(to right, cornflowerblue,deepskyblue,darkturquoise,aqua);
    }

    .div-pers {
        padding-top: 2rem;
    }
    .imagen {
        height:400px;
        width: 100%;
    }
    .tronco {
        background-image: url("../../Content/imagenes/fondos/jarra.jpg");
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
    }


  
</style>





<div class="grad text-white fw-bold display-5 text-center pb-4"> @ViewBag.Title</div>
<div class=" container fs-4 div-pers imagen ">
 
    <p>¿Por qué agotarse con viajes interminables sólo para subir fotos al Instagram? Es hora de que conozcas  el turismo "de aquí al lado".</p>
    <p> Nuesto entorno más próximo está lleno de lugares maravillos en los que aún no has estado, pero eso está a punto de cambiar.
    Olvídate de prisas, disfruta del paisaje, del silencio y de tomarte las cosas con calma. Déjate llevar,nosotros nos ocupamos del resto</p>
    <p>Conecta con tus raíces y disfruta de las vacaciones que te mereces. Consulta nuestros destinos y descubre el verdadero significado de la palabra vacaciones.</p>


</div>
<div class="tronco">

    <h4 class="text-white display-3 text-center">Caracol saca los cuernos al sol</h4>
</div>





