
@{
    ViewBag.Title = "Hola caracola";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .grad {
        background-image: linear-gradient(to right, cornflowerblue,deepskyblue,darkturquoise,aqua);
    }
    .padding-pers {
        padding-top: 8%;
    }
</style>

<div class="grad">


@* esto va a ser una animacion  *@


<div class="padding-pers text-white">
    <h1>@ViewBag.Title</h1>
</div>


</div>
<div id="presentación">
    <p>Queremos presentarte el turismo "de aquí al lado"</p>
</div>