
@{
    ViewBag.Title = "Hola caracola";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .grad {
        background-image: linear-gradient(to right, cornflowerblue,deepskyblue,darkturquoise,aqua);
    }

    .div-pers {
        padding-top: 2rem;
    }
    .imagen {
        height:400px;
        width: 100%;
    }
    .tronco {
        background-image: url("../../Content/imagenes/fondos/jarra.jpg");
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
    }


  
</style>





<div class="grad text-white fw-bold display-5 text-center pb-4"> @ViewBag.Title</div>
<div class=" container fs-4 div-pers imagen ">
 
    <p>Queremos presentarte el turismo "de aquí al lado "</p>


</div>
<div class="tronco">
    @*<img class="imagen"src="~/Content/imagenes/fondos/fondo-tronco.jpg" /> *@
    <h4>Caracol col col</h4>
</div>
<div class="container-fluid imagen">
    Mas contenido
</div>




