@{
    ViewBag.Title = "Hola!";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*<div style="height:95px;"></div>*@

@* no ajusta bien el contenido con la fixed nav bar *@
<style>

    .div-pers {
       margin-top:100px;
       height:55%;
       padding:2%;
       
    }

</style>

<div class="d-flex fondo-destinos vw-100 justify-content-center">
    @* cambiar nombre a fondo form o algo asi  *@



    <div class="bg-light ms-2 justify-content-center div-pers ">
        <div class="justify-content-center">
            <h2 id="title">@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>

            <h5>Si tienes cualquier consulta envíanos este formulario o escríbenos a nuestro correo electrónico</h5>

            <address>

                <a class="" href="mailto:Support@example.com">closeandslow@example.com</a>

            </address>

            <div class="mb-3">

                <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Escribe tu comentario aquí</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                </div>
                <button class="btn btn-info text-white pe-3" type="submit">Enviar</button>



            </div>

        </div>
    </div>

</div>
