@{
    ViewBag.Title = "Hola!";
}
<main aria-labelledby="title">
    @* no ajusrta bien el contenido con la fixed nav bar *@
    <br />
    <br />
    <br />
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <h5>Si tienes cualquier consulta envía nuestro formulario o escríbenos a nuestro correo electrónico.</h5>

    <address>
         
         <a href="mailto:Support@example.com">closeandslow@example.com</a><br />
        
    </address>
</main>