@{
    ViewBag.Title = "Hola!";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>

    .div-pers {
        margin-top: 4%;
        height: 55%;
        padding: 2%;
        width: 40rem;   
        margin-bottom:5rem;
    }


</style>

        <div class="div-pers container-fluid">
            <h2 id="title">@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>

            <h5>Si tienes cualquier consulta envíanos este formulario o escríbenos a nuestro correo electrónico</h5>

            <address>

                <a class="" href="mailto:Support@example.com">closeandslow@example.com</a>

            </address>

            <div class="mb-3">
                    
                <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Escribe tu comentario aquí</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                </div>
                <button class="btn grad text-white pe-3 fw-bold " type="submit">Enviar</button>



            </div>

        </div>
    


