


@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="fondo-landing d-flex justify-content-center align-items-center ">
    <h1 class="text-white display-1">Close and Slow</h1>

</div>










