
@{
    ViewBag.Title = "IndexReserva";
}
@*a las reservas solo pueden entrar usuarios registrados , redirigir a login con mensaje debes estar registrado para continuar ( en modal por ej) *@
<h2>IndexReserva si has llegado aqui estás registrado </h2>

