<br />
<br />
<br />

@{
    ViewBag.Title = "Accede a tu cuenta";
    //cargamos un Layout donde no tenemos opción de registro ni login
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

<div class="m-4" style="padding-bottom:15%;">
    <h2>ACCEDE A TU CUENTA</h2>
    <form id="registro">
        <div class="mb-3">
            <label for="user" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="user" name="user" aria-describedby="nombreUsuario">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Incia sesión</button>
        <p>Aún no tienes cuenta?</p>
        <a class="nav-link text-decoration-underline" href="~/Views/Registro/Index.cshtml">Regístrate</a>
    </form>
</div>

@section scripts{
    <script>
        $("#document").ready(function () {

            $("#registro").submit(function (e) {
                 e.preventDefault();

                 var url = "@Url.Content("~/Login/Acceso")";
                 var parametros = $(this).serialize();

                 $.post(url, parametros, function (respuesta) {
                  if (respuesta == "1") {
                  document.location.href = "@Url.Content("~/Login/UsuariosRegistrados")";
                   } else {
                   alert(respuesta);
                  }
                 })



        })

    })





    </script>
}
