
@{
    ViewBag.Title = "UsuariosRegistrados";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<br /><br /><br />

<h2>Hola, Usuario</h2>
<button type="button" class="btn btn-info float-end text-white">Cerrar sesión</button>

