@model CloseAndSlow.Models.ViewModels.ClienteViewModel
@{
    ViewBag.Title = "Ponte cómodo, estás en tu casa";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
    //si el usuario no tiene sesion lo devolvemos al index
    if (Session["id_cliente"] == null)
    {
        Response.Redirect("~/Home/Index");

    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .div-pers {
        width: 17%;
        height: 1000px;
    }

    .registrados {
        background-color: cornflowerblue;
        color: white;
        height: 11rem;
        padding-top: 4rem;
    }

    .icono {
        font-size: 40px;
        color: white
    }

    .sobre-footer {
        height: 40%;
    }
</style>

<div class="grad text-white mb-5 text-md-center container-fluid">
    <h2>@ViewBag.Title</h2>

</div>
<div class="container-fluid text-md-center">
    <h4 class="">Hola, @Session["nombre"] </h4>
    <h5>Que alegría volver a verte. ¿Qué quieres hacer? </h5>
</div>
<div class=" d-flex justify-content-evenly registrados mt-5 container-fluid ">
    <div>

       <a href="~/Registro/Editar?id_cliente=@Session["id_cliente"] "><i id="edit" class="fa fa-pencil icono "></i></a> 
        <h5>Editar mis datos</h5>
    </div>
    <div id="read">
        <a href="~/Reserva/ReadReserva"><i class="fa fa-suitcase icono"></i></a>
        
        <h5>Ver mis reservas</h5>
    </div>
    <div id="delete">
        <a href="~/Registro/Eliminar?id_cliente=@Session["id_cliente"] "><i class="fa fa-trash-o icono "></i></i></a>
        <h5>Eliminar mi cuenta</h5>
    </div>
  <div id="edicion">
    </div> 


</div>
<div class="sobre-footer"></div>







