
@{
    ViewBag.Title = "UsuariosRegistrados";
    Layout = null;
    //si el usuario no tiene sesion lo devolvemos al index
    if (Session["id_cliente"] == null)
    {
        Response.Redirect("~/Home/Index");

    }
}
<br />
<br />
<br />

<h2>Hola, @Session["id_cliente"]</h2>

<a  class="text-decoration-none"href="@Url.Action("Logout","Login")">Cerrar sesión</a>


