
@{
    ViewBag.Title = "Cabo Vilan";
    

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .grad {
        background-image: linear-gradient(to right, cornflowerblue,deepskyblue,darkturquoise,aqua);
    }

    .padding-pers {
        padding-top: 8%;
    }
</style>



<div class=" container-fluid mt-3 ">
    <h1 class="text-center">@ViewBag.Title</h1>
    @* dos items flex , texto y foto *@
    <div class="card mb-4" style="max-width: 1350px;min-height:300px ">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/Content/imagenes/fondos/cabo-vilan-2.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional contentThis is a wider card with supporting text below as a natural lead-in to additional contentThis is a wider card with supporting text below as a natural lead-in to additional contentThis content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                    <a href="https://turismocamarinas.net/que-hacer/faro-vilan/" target="_blank" class="btn grad text-white p-2">Saber más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h2 class="login">Elige tu alojamiento</h2>
    <div class="card mb-3 login " style="width: 18rem;">
        <img src="~/Content/imagenes/hoteles/hotel_cabo_vilan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hotel  </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="@Url.Action("HotelVilan","Hotel")" class="btn btn-primary grad p-2">Reserva</a>
        </div>
    </div>


</div>
@* modal
    formulario que envia peticion para realizar reserva*@
<script>

</script>