
@{
    ViewBag.Title = "Cabo Vilan";


    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="grad text-white ps-2 text-center">
    <h1>@ViewBag.Title</h1>
</div>


<div class=" container-fluid mt-3 ">

    <div class="card mb-4" style="max-width: 1350px;min-height:300px ">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/Content/imagenes/fondos/cabo-vilan-2.jpg" class="img-fluid" alt="Vistas al Cabo Vilán">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Cabo Vilán </h5>
                    <p class="card-text">É quizais un xigante poideroso que ollándonos está, cun ollo refulxente que alumía na azul inmensidá.
                        Ben o vexo, antre a brétoma, alá lonxe,brilante lostregar; eu ben vexo antre a brétoma o seu ollo constante parpadear.<br />
                        É un cíclope soberbo que alumía aos que pola auga van, é un cíclope soberbo que lostrega no monte do Vilán.<br />
                        GONZALO LÓPEZ ABENTE (De Escumas da ribeira,1911)
                    </p>
                    

                    <a href="https://turismocamarinas.net/que-hacer/faro-vilan/" target="_blank" class="btn grad text-white p-2">Saber más</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="">Elige tu alojamiento</h2>
        <div class="card mb-3  " style="width: 18rem;">
            <img src="~/Content/imagenes/hoteles/hotel_cabo_vilan.jpg" class="card-img-top" alt="Hotel Cabo Vilan, fachada">
            <div class="card-body">
                <h5 class="card-title">Hotel Cabo Vilán  </h5>
                <p class="card-text">Un idílico hotel rural donde podrás desconectar en plena naturaleza</p>
                <a href="@Url.Action("HotelVilan","Hotel")" class="btn btn-primary grad p-2">Reserva</a>
            </div>
        </div>


    </div>
</div>