@{
    ViewBag.Title = "Loiba";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    <div class="grad text-white ps-2 text-center">
        <h1>@ViewBag.Title</h1>
    </div>


    <div class="container-fluid">
        <img src="~/Content/imagenes/lugares/acantilados-Loiba.jpg" class="w-25 h-25" />

        <h2 class="mt-4" >Elige tu alojamiento</h2>
        <div class="card mb-3" style="width: 18rem;">
            <img src="~/Content/imagenes/hoteles/hotel_loiba.jpeg" class="card-img-top" alt="Hotel en Loiba">
            <div class="card-body">
                <h5 class="card-title">Hotel Loiba  </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary grad p-2">Reserva</a>
            </div>
        </div>

    </div>




