
@{
    ViewBag.Title = "Monte Louro";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="grad text-white ps-2 text-center">
        <h1>@ViewBag.Title</h1>
    </div>



    <div class="container-fluid">

        <img src="~/Content/imagenes/lugares/monte-louro-c4.jpg" class="w-25 h-25" />
   
        <h2 class="pt-4">Elige tu alojamiento</h2>
        <div class="card mb-3" style="width: 18rem;">
            <img src="~/Content/imagenes/hoteles/hotel_louro.jpg" class="card-img-top" alt="Hotel en Monte Louro">
            <div class="card-body">
                <h5 class="card-title">Hotel  </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info grad text-white text-decoration-none p-2">Reserva</a>
            </div>
        </div>


    </div>


