@model CloseAndSlow.Models.ViewModels.ClienteViewModel
@{
    ViewBag.Title = "Registro";
}

<h2>Add</h2>
<div class="m-5">
    <h2>@ViewBag.Title</h2>
    @* Enviamos el formulario a través de un htmlHelper *@
    @using (Ajax.BeginForm("Add", "Registro", new AjaxOptions{  }))
{
    <label for="pwd" class="form-label">Nombre y apellidos:</label>
    <input type="text" class="form-control" placeholder="Nombre y apellidos">
    <label for="pwd" class="form-label">Dirección:</label>
    <input type="text" class="form-control" placeholder="Dirección">
    <label for="pwd" class="form-label">Nif:</label>
    <input type="text" class="form-control" placeholder="Nif">
    <label for="pwd" class="form-label">Teléfono:</label>
    <input type="text" class="form-control" placeholder="Teléfono">
    <label for="pwd" class="form-label">Número tarjeta(opcional):</label>
    <input type="text" class="form-control" placeholder="Normal input">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">


    <label for="pwd" class="form-label">Contraseña:</label>
    <input type="password" class="form-control" id="pwd2" placeholder="Contraseña" name="pswd">

    <label for="pwd2" class="form-label">Confirma contraseña:</label>
    <input type="password" class="form-control" id="pwd2" placeholder="Confirma contraseña" name="pswd2">
    <button type="submit" class="btn btn-info mt-3 text-white">Enviar</button>


</div>
<div id="respuesta"></div>

    }


<script>
    function ManejaRespuesta(respuesta) {



        $("#respuesta").html(respuesta);


    }




</script>
